
ul.menu {
	display: inline-block;
	width: auto;
	margin-top:2px;
	padding:0px;
}

ul.menu li {
	float: left;
	list-style: none;
	position: relative;
}

ul.menu li a {
	color: #fff;
	display: block;
	font-size: 12px;
	padding: 20px;
	text-decoration: none;
}

ul.menu li a:hover {
	background-color: #47494C;
}

/*Выпадающее меню*/
ul.menu li ul {
	display: none;
}

ul.menu li:hover ul {
	display: block;
	position: absolute;
	top: 40px;
	margin-left:-40px;
	z-index: 1000;
    width: 180px;
	color: #000;
}
ul.menu li:hover ul li {
	height:40px;
	padding:2px !important;
	}
ul.menu li:hover ul li a {
	float: left;
    width: 180px;
	color: #000 !important;
	background:#FFF;
	border:1px solid #D9DADA;

}
ul.menu li:hover ul li a:hover {
	float: left;
    width: 180px;
	color: #000 !important; 
	background:#F2F2F2;
}



ul.menu li:hover ul li:first-child a:hover {
}
